.container {
    margin: 7rem;
}



h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #e9a435;
    margin: 1rem;
    text-align: center;
}

.project {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: 1rem;
    text-align: center;
}

button {
    display: inline-block;
    border-radius: 1rem;
    background-color: #e9a435;
    border: none;
    /*color: white;*/
    color: #040f20;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1rem;
    box-shadow: grey 0 0.25rem 1rem;
}

img {
    width: 60rem;
    border-radius: 1rem;
}

button:hover {
    background-color: #f3cd91;
    color: #040f20;
}